<div id="main-wraper">
    <div class=" page-title-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="">
                    <h4 class="m-t-0 content-title"><b>Planificación seguimiento y control de producción</b></h4>
                    <p class="text-muted font-13 m-b-0">
                        Listado de todos los proyectos y sus órdenes de trabajo.
                    </p>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <input type="search" class="form-control form-control-sm" placeholder="Buscar proyecto..." aria-controls="datatable-buttons" ng-model="filter_search">
            </div>
        </div>
    </div>

    <div class="panel panel-default" ng-repeat="proyecto in proyectos.results | filter:filter_search | orderBy:'orden' as proyResult">
        <div class="panel-heading" style="cursor:pointer;" ng-click="selectProyecto(proyecto)">
            <h3 class="panel-title">
                <i class="fa fa-caret-right" ng-if="_selected.id!=proyecto.id"></i>
                <i class="fa fa-caret-down" ng-if="_selected.id==proyecto.id"></i>
                #[[proyecto.id]] [[proyecto.nombre]]
            </h3>
        </div>
        <div class="panel-body" ng-show="_selected.id==proyecto.id">
            <div class="row" html-sortable="sections_sortable_option" ng-model="proyecto.ordenes">
                <div id="col-[[orden.id]]-[[key]]" ng-if="!orden.archivado" ng-repeat="(key, orden) in proyecto.ordenes | filter:filter_search as ordenResult" ng-show="!orden.deleting" class="col-lg-3 col-md-4 col-sm-6 card-block-wrapper sortable-card">
                    <div class="card block orden-trabajo">
                        <div class="card-block">
                            <div class="row card-header" style="background:#[[orden.estado.color]]">
                                <div class="col-11">
                                    <div class="truncate text-muted font-13 m-b-0 proyecto-estado-selected">[[orden.estado.nombre]]</div>
                                </div>
                                <div class="options-btn btn-states" dropdown-append-to-body ng-if="$root.LOGGED_USER.id==orden.usuario.id || $root.LOGGED_USER.id==orden.responsable.id">
                                    <a href="javascript:;" tooltip="Cambiar estado" data-placement="top" data-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-cog"></i>
                                    </a>
                                    <ul estados-orden ng-model="orden.estado" class="dropdown-menu dropdown-custom dropdown-menu-right">
                                        <li role="presentation" class="dropdown-header" ng-if="_loading_data">Cargando estados...</li>
                                        <li ng-repeat="estado in availableOptions" class="estados-sample-li">
                                            <a style="font-size:13px !important;" href="javascript:;" ng-click="changeEstadoOrden(orden, estado)"><span style="background:#[[estado.color]];" class="proyecto-estado-sample">&nbsp;&nbsp;</span> [[estado.nombre]]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <h4 class="m-t-0 header-title"><b># [[orden.id]]</b></h4>
                                        <span class="comment_date order-date">[[orden.fecha|date:"mediumDate"]]</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">Responsable: [[orden.responsable.perfil.nombre]]</div>
                                </div>
                                <div class="row">
                                    <div class="col-12" ng-bind="orden.descripcion|truncate:100"></div>
                                </div>
                                <hr/>
                                <div ng-repeat="comment in orden.comentarios | orderBy:'-fecha'" class="reply-wrapper" ng-show="!orden.toggled_replies || $index<2">
                                    <h5 ng-if="!comment.usuario || comment.usuario.id==$root.LOGGED_USER.id">
                                        <b>Tú</b>
                                        <span class="comment_date">a las [[comment.fecha|date:"medium"]]</span></h5>
                                    <h5 ng-if="comment.usuario && comment.usuario.id!=$root.LOGGED_USER.id">
                                        <b>[[comment.usuario.perfil.nombre]]</b>
                                        <span class="comment_date">a las [[comment.fecha|date:"medium"]]</span>
                                    </h5>
                                    <p class="comment_answer" ng-bind="comment.texto"></p>
                                </div>
                                <div class="toggled-replies-responses" ng-show="orden.comentarios.length>3 && orden.toggled_replies" ng-click="orden.toggled_replies=false">
                                    Mostrar todos los comentarios
                                </div>

                            </div>
                            <div class="card-title card-title-fixed">
                                <div class="card-fixed-btns">
                                    <a class="btn btn-sm btn-customs" href="" data-toggle="modal" data-target="#modal-form-orden[[orden.id]]" tooltip="Editar" data-placement="top"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-sm btn-customs" data-toggle="modal" data-target="#modal-delete-orden[[orden.id]]" tooltip="Eliminar Órden" data-placement="top"><i class="fa fa-trash-o"></i></a>
                                    <a class="btn btn-sm btn-customs" ng-click="archivar(orden)" tooltip="Archivar" data-placement="top"><i class="mdi mdi-archive"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-include src="'/static/mecanica/tpls/proyectos/modals/delete_orden.html'"></ng-include>
                    <ng-include src="'/static/mecanica/tpls/proyectos/modals/form_orden.html'"></ng-include>

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 card-block-wrapper">
                    <a href="" data-toggle="modal" data-target="#modal-form-orden">
                    <div class="card block new">
                        <div class="card-img">
                            <i class="fa fa-plus"></i>
                        </div>
                        <div class="card-block"></div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="!proyResult.length" class="alert alert-default">
        <h5 class="text-uppercase font-bold m-b-0">No se encontraron resultados</h5>
        <p class="font-13 m-t-10">Actualmente no existen proyectos creados.</p>
    </div>

    <div class="row">
        <div class="col-12">
            <paginator ng-if="proyectos.results.length" route="/app/api/proyecto" ng-model="proyectos"></paginator>
        </div>
    </div>
</div>
<ng-include src="'/static/mecanica/tpls/proyectos/modals/form_orden.html'"></ng-include>